<ion-side-menus enable-menu-with-back-views="false" width="175">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-title>
        <div class="howllogo"></div>
      </ion-nav-title>
      <ion-nav-buttons side="right">
        <button ng-click="showScript()" class="button icon script ion-ios-paper-outline"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="175">
    <ion-header-bar class="bar-stable">
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
          <ion-item class="pac-links" onclick="window.open(‘http://www.wolf-pac.com/the_plan’, ‘_system’)">The Plan</ion-item>
          <ion-item class="pac-links" onclick="window.open(‘http://www.wolf-pac.com/revolution’, ‘_system’)">Membership</ion-item>
          <ion-item class="pac-links" onclick="window.open(‘http://www.wolf-pac.com/donate’, ‘_system’)">Donate</ion-item>
          <ion-item class="pac-links" onclick="window.open(‘http://www.wolf-pac.com/volunteer’, ‘_system’)">Volunteer</ion-item>
          <ion-item class="pac-links" onclick="window.open(‘http://www.wolf-pac.com/petition’, ‘_system’)">Sign Petition</ion-item>
          <ion-item menu-close class="state-list-item" ng-repeat="state in states" ng-click="stateSelector(state)">
            {{state.state}}
          </ion-item>
        </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
