<ion-side-menus enable-menu-with-back-views="false" width="200">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear menu-claw" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <img ng-click="showScript()" src="img/howllogo.svg" class="howllogo"></img>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="200">
    <ion-header-bar class="bar-stable">
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
          <ion-item class="pac-links" ng-click="openWindow('http://www.wolf-pac.com/the_plan')">The Plan</ion-item>
          <ion-item class="pac-links" ng-click="openWindow('http://www.wolf-pac.com/revolution')">Membership</ion-item>
          <ion-item class="pac-links" ng-click="openWindow('http://www.wolf-pac.com/donate')">Donate</ion-item>
          <ion-item class="pac-links" ng-click="openWindow('http://www.wolf-pac.com/volunteer')">Volunteer</ion-item>
          <ion-item class="pac-links" ng-click="openWindow('http://www.wolf-pac.com/petition')">Sign Petition</ion-item>
          <ion-item class="pac-links" ng-click="goZip()">Zip</ion-item>
          
          <ion-item menu-close ng-class="{active: state.state == currentState, won: state.state === 'California' || state.state == 'Illinois' || state.state == 'New Jersey' || state.state == 'Rhode Island' || state.state == 'Vermont'}" class="state-list-item" ng-repeat="state in states" ng-click="stateSelector(state)">
            {{state.state}}
          </ion-item>
        </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
