<ion-view cache-view="false" view-title="{{state}}">
  <ion-content class="rep-wall" delegate-handle="rep-list">
    <div class="app-name">
      <span class="test-ptrn"><div class="app-name-text">H<span class="thinner">onest</span></div></span>
      <span class="test-ptrn"><div class="app-name-text">O<span class="thinner">utreach</span></div></span>
      <span class="test-ptrn"><div class="app-name-text">W<span class="thinner">ith</span></div></span>
      <span class="test-ptrn"><div class="app-name-text">L<span class="thinner blinker">egislators</span></div></span>
    </div>
    <ion-list>
      <div ng-repeat="rep in reps track by $index" ng-class="'rep-' + rep['@attributes'].party" class="card rep-card">
        <div id="{{$index}}" class="item item-text-wrap animated slideInUp">
          <div class="item rep-header">
            <div class="row">
              <div class="rep-info">
                <div class="item-img">
                  <img src="https://s3.amazonaws.com/assets.opensecrets.org/politicians/img/{{rep['@attributes'].cid}}.jpg">
                </div>
              </div>
              <div class="firstlast">
                {{rep['@attributes'].firstlast}}
                <p class="rep-attribute" style="margin-bottom: 3px;line-height: 20px;">has been in office for</p>
                <p class="rep-attribute" style="margin-bottom: 0;line-height: 20px;">
                  <span class="rep-time" style="font-size: 1.5em;">{{2017 - rep['@attributes'].first_elected}} years ({{rep['@attributes'].first_elected}})</span> 
                </p>
              </div>
            </div>
          </div>
          <div class="script-block">
            <span class="script-text">"I’d like to talk to you about restoring Free and Fair Elections in America. Is this an issue you care about?"</span>
          </div>
          <div class="rep-social">
            <div class="row social-row">
              <div class="twitter-3">
                <div class="twitter-2">
                  <div class="twitter">
                    <i class="ion-social-twitter" ng-click="sendTweet(rep['@attributes'].twitter_id)"></i>
                  </div>
                </div>
              </div>
              <div class="facebook-3">
                <div class="facebook-2">
                  <div class="facebook">
                    <i class="ion-social-facebook" ng-click="sendFb(rep['@attributes'].facebook_id)"></i>
                  </div>
                </div>
              </div>
              <div class="phone-3">
                <div class="phone-2">
                  <div class="phone">
                    <i class="ion-ios-telephone-outline" ng-click="placeCall(rep['@attributes'].phone)"></i>
                  </div>
                </div>
              </div>
              <div class="email-3">
                <div class="email-2">
                  <div class="email">
                    <i class="ion-ios-email" ng-click="sendEmail(rep['@attributes'].webform)"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
