<ion-view cache-view="false" view-title="{{currentState}}">
  <ion-content class="rep-wall" delegate-handle="rep-list">
    <ion-scroll>
    <ion-list>
      <div ng-repeat="rep in reps track by $index" ng-class="'rep-' + rep['@attributes'].party" class="card rep-card animated slideInUp" >
        <div id="{{$index}}" class="item item-text-wrap">
          <div class="item-avatar">
            <img src="https://s3.amazonaws.com/assets.opensecrets.org/politicians/img/{{rep['@attributes'].cid}}.jpg">
          </div>
          <div class="item rep-header">
            <div class="row">
              <div class="col-25"></div>
              <div class="col-50 firstlast">{{rep['@attributes'].firstlast}}</div>
              <div class="col-25"></div>
            </div>
            <div class="rep-name">
              <p class="rep-attribute">Time in office: <span class="rep-time">{{2016 - rep['@attributes'].first_elected}} years ({{rep['@attributes'].first_elected}})</span></p> 
              <div class="row camp-fin-row">
                <div class="col-25 spacer"></div>
                <div class="col-50 camp-fin">CAMPAIGN CONTRIBUTIONS</div>
                <div class="col-25 spacer"></div>
              </div>
              <canvas id="bar" class="chart chart-bar" data="data" series="series" options="options" labels="labels" legend="false" colours="colours"></canvas>
              <div class="sector-names">
                <div class="sector-1">Agriculture</div>
                <div class="sector-2">Comm</div>
                <div class="sector-3">Lobbyists</div>
                <div class="sector-4">Financial</div>
                <div class="sector-5">Medical</div>
                <div class="sector-6">Environmental</div>
              </div>
            </div>
          </div>
          <div class="script-block">
              <span class="script-text">I’d like to talk to you about restoring Free and Fair Elections in America. Is this an issue you care about?"</span>
          </div>
          <div class="row">
            <div class="col-25 namespace"></div>
            <div class="col-50 firstlast">Send Via...</div>
            <div class="col-25 namespace"></div>
          </div>
          <div class="rep-social">
            <i class="ion-social-twitter-outline" ng-click="sendTweet(rep['@attributes'].twitter_id)"></i>
            <!--@{{rep['@attributes'].twitter_id}}-->
            <i class="ion-social-facebook-outline"></i>
            <!--{{rep['@attributes'].firstlast}}-->
            <!--<i class="ion-ios-telephone-outline"></i>-->
            <!--{{rep['@attributes'].phone}}-->
            <i class="ion-ios-email-outline"></i>
            <!--OTHER-->
          </div>
          <!--<div ng-click="scrollHelper($index)">NEXT</div>-->
       </div>
      </div>
    </ion-list>
    </ion-scroll>
  </ion-content>
</ion-view>
