/* Empty. Add your own CSS if you like */
.state-list-item {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 9.75px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 9.75px;
    color: #999;
}
.title {
    font-family: 'Oswald', sans-serif;
}
.rep-attribute {
    float: right;
}
