/* Empty. Add your own CSS if you like */
.state-list-item {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 9.75px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 9.75px;
    color: #999;
}
.title {
    font-family: 'Oswald', sans-serif;
}
.rep-attribute {
    float: right;
}
.rep-D {
    color: blue !important;
}
.rep-R {
    color: red !important;
}
.rep-I {
    color: grey !important;
}
.rep-D span, .rep-I span, .rep-R span {
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
}
