.state-list-item {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 9.75px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 9.75px;
    /*color: #97c5ed;*/
    color: white;
    /*background-color: #0066ba;*/
    background-color: #85bb65;
    /*border-color: #97c5ed;*/
    border-color: white;
}

.won {
    background-color: white !important;
    color: #97c5ed !important;
}

.ion-navicon {
    color: #ccc !important;
}

.title {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 8.75px;
    letter-spacing: 3px;
    color: #ccc !important;
}

.title-left {
    left: 0px !important;
    right: 0px !important;
    text-align: center !important;
}

.list {
    /*background-color: rgba(0,0,0,0.85);*/
}

.rep-card a {
    margin-left: 21px;
}

.rep-card a:hover {
    cursor: pointer;
}

.rep-header {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 9px !important;
    border: none !important;
    background-color: transparent;
}

.rep-name {
    /*border-right: 1px solid rgba(255, 255, 255, 0.85);*/
    /*border-left: 1px solid rgba(255, 255, 255, 0.85);*/
    border-bottom: 1px solid #aaa;
    text-align: center;
    position: relative;
    padding-top: 11px;
    padding-bottom: 9px;
}

.rep-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    position: relative;
    padding-bottom: 9px;
    padding-top: 8px;
    /*padding-top: 16px;*/
    /*width: 170px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border-top: 1px solid #ccc;*/
}

.ion-social-twitter {
    color: #00aced;
}
.ion-social-facebook {
    color: #3b5998;
}
.ion-ios-email {
    color: white;
}

.rep-attribute {
    text-align: left;
    font-family: 'Source Sans Pro';
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #aaa !important;
}

.rep-attribute .rep-time {
    float: right;
    font-weight: 400;
}

.sector-info {
    display: flex;
    justify-content: space-between;
}

.sector-info p {
    font-family: 'Source Sans Pro';
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.item-avatar {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 0;
}

.item-avatar img {
    position: relative !important;
    max-width: 125px !important;
    max-height: 125px !important;
    top: 0 !important;
    left: 0 !important;
    margin-top: -70.5px;
}

.sectors {
    height: 400px;
    overflow: scroll;
}

.sector-data {
    height: 25px;
}

.camp-fin {
    align-items: center;
    font-size: 11px;
    color: #aaa;
}

.camp-fin-row {
    align-items: center;
    height: 11px;
}

.spacer {
    height: 1px;
    background-color: #aaa;
}

/*.rep-D {
    color: rgba(0,118,215,1) !important;
}
.rep-R {
    color: rgba(245,61,61,1) !important;
}
.rep-I {
    color: rgba(170,170,170,1) !important;*/

.firstlast {
    font-family: 'Josefin Sans';
    font-size: 20px;
    line-height: 1px;
    text-align: center;
    color: #aaa;
}

.namespace {
    border-bottom: 1px solid #aaa;
}

.pac-links {
    text-align: center;
    font-family: 'Oswald';
    font-size: 14.75px;
    line-height: 11.75px;
    text-transform: uppercase;
    color: #00457d;
}

.action-button {
    text-align: center;
    font-family: 'Oswald';
    text-transform: uppercase;
    color: #53aaff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #53aaff;
    width: 49%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.share-detail {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 11px !important;
    color: #0076d7 !important;
}

 .action-button i {
     font-size: 24px;
}

.card {
    /*margin: 105px 0px 0px 0px;*/
    margin: 0;
    padding-top: 45px;
    /*height: calc(100vh - 105px);*/
    height: calc(100vh);
    overflow: visible;
}

.card .row {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.rep-card {
    /*background-color: rgba(0,0,0,0.85);*/
    background: url('../img/patern-adh.png');
    border-bottom: 2px dashed #444;
}

.item {
    /*background-color: transparent;*/
}

.item-avatar {
    height: 100px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
	background: #1e90ff;
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.item-avatar img {
    border: 1px solid #ccc;
}

.bar-stable .button {
    color: #4c4e4d;
    background-color: transparent;
}

.has-header {
    top: 0px;
}

.script {
    border: none;
}
.script:before {
    font-size: 24px !important;
}

ion-header-bar {
    border: none !important;
    background: none !important;
}

.rep-wall {
    background: url('../img/capitolbw.jpg') no-repeat center center;
}

.pie-legend li,
.doughnut-legend li {
    font-size: 11px;
}

.sector-names {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
}

.sector-1 {
    color: #f53d3d;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-size: 9.75px;
}
.sector-2 {
    color: #387ef5;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-size: 9.75px;
}
.sector-3 {
    color: #32db64;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-size: 9.75px;
}
.sector-4 {
    color: #444444;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-size: 9.75px;
}
.sector-5 {
    color: #222222;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-size: 9.75px;
}
.sector-6 {
    color: #69BB7B;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-size: 9.75px;
}

.doughnut-legend {
    padding-left: 0 !important;
}

.howllogo {
    transition: 0.5s;
    height: 40px;
    width: 40px;
    margin-top: 3px;
}

view-title {
    transition: 0.5s;
}

.script-block {
    padding-bottom: 0px;
    font-family: 'Oswald';
    text-align: center;
    font-weight: 300;
}

.script-text {
    /*background-color: #FFF200;*/
    background-color: rgba(255,242,0,0.9);
    /*font-family: 'Roboto';
    letter-spacing: -1px;
    font-size: 28px;
    line-height: 34px;
    font-style: italic;*/
    font-family: 'Anton';
    font-size: 22.75px;
    line-height: 40px;
    letter-spacing: -1px;
}

.menu-open .menu-content {
    transform: translate3d(175px, 0px, 0px) !important;
}

.item-text-wrap {
    padding-top: 0;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 9px;
    transition: .5s;
    height: 100%;
    border-bottom: 5px dashed #444;
    background-color: transparent;
}

.social-poly {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: #ccc;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.send-via {
    font-family: 'Josefin Sans';
    font-size: 13.75px;
    text-align: center;
    /*font-style: italic;*/
    color: #ccc;
}

.social-row {
    /*padding-top: 7px !important;*/
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 60px;
    justify-content: space-around !important;
    align-items: center;
}